/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: inherit;
}

:root {
  --color-white: #fff;
  --color-light-white: #eee;

  --color-tomato: #d40640;
  --color-light-tomato: #f33c70;
  --color-purple-transparent: rgba(88, 24, 69, .7);
  --color-pink-transparent: rgba(216, 14, 91, .7);

  --color-orange: #ff3c00;

  --color-light-black: #222;
  --color-black: #000;

  --shadow: rgba(0, 0, 0, .4);
}

.app {
  /*
    vh	Relative to 1% of the height of the viewport*
    %	Relative to the parent element
    Relative to font-size of the root element
  */
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, var(--color-pink-transparent), var(--color-purple-transparent)), url("../resources/background.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 95%;
  max-height: 600px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: var(--color-white);
}

.screen {
  height: 30%; /* other 70% is keypad */
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  color: var(--color-light-white);
  background-color: var(--color-tomato);
}

.result-screen {
  height: 40%;
  padding: 0 2rem;
  font-size: 6rem;
  font-weight: 600;
  background-color: color-purple-transparent;

  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.computation-screen {
  height: 30%;
  padding: 0 2rem;
  font-size: 2.5rem;
  background-color: var(--color-tomato);

  /* To display the value at the right of the container */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.approximation-screen {
  height: 30%;
  padding: 0 2rem;
  font-size: 2.5rem;
  background-color: var(--color-tomato);
  /* box-shadow: 20px 20px 20px 20px grey; */

  /* To display the value at the right of the container */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selected {
  box-shadow: 0 0 20px var(--shadow);
}

.keypad {
  height: 70%; /* other 30% is screen */
  width: 100%;
}

.keypad__row {
  height: 20%; /* 5 equal rows */
  width: 100%;
  display: flex; /* To control the dimension */
  color: white;
}

.btn {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: var(--color-white);
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.btn:hover {
  color: var(--color-light-white);
  background-color: var(--color-tomato);
}

.btn:active {
  transform: scale(0.9);
}

.btn--large {
  width: 50%;
  color: var(--color-white);
  background-color: var(--color-tomato);
  transition: all .2s;
}

.btn--large:hover {
  background-color: var(--color-light-tomato);
}